@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* .navlink {
    @apply px-4 text-whitish text-lg font-medium hover:text-black;
  } */

  html {
    font-family: "Poppins", system-ui, sans-serif;
  }

  body {
    @apply bg-newYorkPink;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: 50% -10%;
    background-size: cover;
    background-attachment: fixed;
  }
}

@layer components {
  .social-icon {
    @apply h-16 w-16 mt-2 mb-2 grid place-content-center shadow-lg bg-raisinBlack text-green-500
               hover:text-white
               rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear
               cursor-pointer;
  }
}

.space-margin {
  margin: 0 1rem 1rem;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

.controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-img {
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 5px;
}

.slide-img:hover {
  box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
  transform: scale(0);
  transition: 0.8s;
  opacity: 0;
}

.slide-img:hover a {
  opacity: 1;
  transform: scale(1);
}

/* Pagination */
.swiper-pagination,
.swiper-pagination-bullets-dynamic,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  bottom: -0px !important;
}

.swiper-pagination-bullet-active {
  background-color: #21212cff !important;
}

.swiper-wrapper {
  @apply pb-[15px] md:pb-[30px] md:items-center;
}

/* Navigation */
/* .swiper-button-prev,
.swiper-button-next {
  color: #ca786dff !important;
  font-weight: 700;
  @apply hidden group-hover:visible
} */
