@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* .navlink {
    @apply px-4 text-whitish text-lg font-medium hover:text-black;
  } */

  html {
    font-family: "Poppins", system-ui, sans-serif;
  }

  body {
    @apply bg-newYorkPink;
  }

  #hero {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: 50% 0%;
    background-size: cover;
  }
}

@layer components {
  .social-icon {
    @apply h-16 w-16 mt-2 mb-2 grid place-content-center shadow-lg bg-raisinBlack text-green-500
               hover:text-white
               rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear
               cursor-pointer;
  }
}

.space-margin {
  margin: 0 1rem 1rem;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
    width: 1600px;
    margin: auto;
} */

.subcontainer {
  width: 85%;
  margin: auto;
}

.controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #controls i {
    color: white;
    font-size: 1rem;
}

.previous, .next {
    padding: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: #1c1d25;
    box-shadow: 0 0 5px #bbb;
} */

/* .previous:hover, .next:hover {
    border: 3px solid gray;
} */

.slide-img {
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 5px;
}

.slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  opacity: 0;
  color: white;
}

.slide-img:hover a {
  opacity: 1;
  transform: scale(1);
}
